<article>
  <h3>Specs</h3>
  <table>
    <tr>
      <%= for s <- @part.specs do %>
        <th><%= s.attribute.name %></th>
      <% end %>
    </tr>
    <tr>
      <%= for s <- @part.specs do %>
        <td><%= s.display_value %></td>
      <% end %>
    </tr>
  </table>
</article>
