<h1>Edit Part location</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.part_location_path(@conn, :update, @part_location)) %>

<span><%= link "Back", to: Routes.part_location_path(@conn, :index) %></span>
