<h1>New Part location</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.part_location_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.part_location_path(@conn, :index) %></span>
