<h1>Show Parameter</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @parameter.name %>
  </li>

  <li>
    <strong>Value:</strong>
    <%= @parameter.value %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.parameter_path(@conn, :edit, @parameter) %></span> |
<span><%= link "Back", to: Routes.parameter_path(@conn, :index) %></span>
